.homepageinfo {
  text-align: center;
}

.pagename {
  text-decoration: underline;
}

.section {
  margin: -1rem auto auto auto;
  border: 2px solid black;
  background-color: rgb(252, 89, 89);
  border-radius: 4em;
  box-shadow: 3px 3px 4px #000000;
  padding: 5em;
  max-width: 250px;
}

.pokemonimage {
  height: 120px;
  width: 260px;
}

.pokeballimage {
  margin-top: -3rem;
  margin-left: 21rem;
  width: 5rem;
  animation-name: spinner;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
